


    <div class="col-md-3">
      <h1>User info</h1>
      <%= image_tag user.get_profile_image(150,150) %><br><!--userモデルに作ったget_imageを呼び出して画像の表示をしている-->
      <table class = "table profile">
        <thead>
          <tr>
            <td><strong><%= "name" %></strong></td>
            <td><strong><%= user.name %></strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><%= "introduction" %></strong></td>
            <td><strong><%= user.introduction %></strong></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to(edit_user_path(user.id), class: "btn btn-block btn-outline-secondary") do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
      </div>
      <h2>New book</h2>
      <%= form_with model: book_opinion do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title, class:"form-control" %>
        <h4>Opinion</h4>
        <%= f.text_area :body ,class:"form-control"%><br>

        <%= f.submit 'Create Book', class:"btn btn-success mt-2" %>

      <% end %>
    </div>
